*, *::before, *::after {
  box-sizing: border-box;
}

header {
  max-width: 93.5rem;
  margin: 0 auto;
  clear: both;
}

.profile-container {
  padding: 5rem 0;
}

.profile-container::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  left: 33%;
  position: relative;
}

.profile-user {
  float: left;
  width: calc(66.666% - 2rem);
  margin-top: 1.1rem;
  font-weight: bold;
}

.profile-bio {
    font-size: 14px;
    font-family: 'Arial';
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.images-container {
  display: flex;
  width: 980px;
  margin: auto;
}

div img {
  width: 293px;
  height: 293px;
  align-self: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  width: 293px;
  height: 293px;
  margin: 12px;
}



@media screen and (max-width: 800px) {
    .images-container {
      width: 100%;
    }
}




/* Mobile */
@media only screen and (max-width: 600px) {
  .images-container {
    width: 100%;
  }
  .profile-bio {
    display: none;
  }
  .profile-image {
      float: none;
      margin: auto;
      margin-left: 30%;
  }
  .profile-user {
      float: none;
      margin-top: 1.1rem;
      margin: auto;
  }
}
